#nprogress .bar {
  height: 3px !important;
}
body {
  overflow-x: hidden;
}

.paginali > ul {
  list-style-type: none;
}

.ant-card-actions > li {
  list-style-type: none;
}
.blognopost {
  margin-left: 39%;
}
.ant-card {
  cursor: pointer;
}

.ant-pagination-item-link {
  margin-right: 10px;
  margin-left: 10px;
}

.ant-pagination {
  display: flex;
}
.ant-pagination-item {
  margin-right: 8px;
  margin-left: 8px;
}
